#catalog
  %section.about-inner
    .container.py-lg-5.py-md-4.py-sm-4.py-3
      %h2.title.text-center.mb-lg-5.mb-md-4.mb-sm-4.mb-3 Выберите тип тренировки
      .row.agile-service-grid.pt-lg-4.pt-md-4.pt-3
        .button.col-lg-4.col-sm-12.text-center.gap-1
          = link_to dumbbells_programs_path() do
            .white-shadow
              = inline_svg_tag('dumbbells.svg')
              .ser-inner-info
                %h3 С гантелями
        .button.col-lg-4.col-sm-12.text-center.gap-1
          = link_to gymnastic_rings_programs_path() do
            .white-shadow
              = inline_svg_tag('gymnastic_rings.svg')
              .ser-inner-info
                %h3 С кольцами
        .button.col-lg-4.col-sm-12.text-center.gap-1
          = link_to self_weight_programs_path() do
            .white-shadow
              = inline_svg_tag('self_weight.svg')
              .ser-inner-info
                %h3 С собственным весом
